body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #061726;
    color: #c9d1d9; /* GitHub text color */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000312;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-section {
    text-align: center;
}

.profile-image {
    width: 150px; /* Adjust the size as needed */
    border-radius: 50%;
    border: 2px solid #1f9ad0;
    padding: 5px;
}

.github-username {
    color: #ffffff; /* GitHub blue color */
}

header, section, footer {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #1f9ad0; /* GitHub blue color */
}

p {
    color: #8b949e; /* GitHub text-secondary color */
}

.projects {
    border-top: 2px solid #30363d; /* GitHub border-secondary color */
    padding-top: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.project {
    border: 1px solid #0b3148; /* GitHub border-secondary color */
    padding: 10px;
    border-radius: 10px;
}

footer a {
    text-decoration: none;
    color: #1f9ad0; /* GitHub blue color */
}

footer a:hover {
    text-decoration: underline;
}

.techlanguages > ul {
    list-style: none;
}

.languagescolumn {
    font-size: 30px;
    display: flex;
    padding: 5px;
    column-gap: 10px;
}

.buttonlink {
    text-decoration: none;
    color: #1f9ad0;
    padding: 5px;
    background-color: #061726;
    border-radius: 5px;
    border: 1px solid #1f9ad0;
    display: inline;
    height: fit-content;
}

.buttonlink:hover {
    color: white;
}

.contaactform-center {
    margin: 0 auto;
    justify-content: center;
}

/* New styles for the contact form */
.contact-form {
    margin-top: 30px;
    text-align: left;
    border-top: 2px solid #30363d;
    padding-top: 20px;
}

.contact-form h2 {
    color: #1f9ad0;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form form {
    margin: 0 auto;
    grid-auto-flow: dense;
}

.contact-form label {
    display: block;
    color: #1f9ad0;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 60%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #1f9ad0;
    border-radius: 15px;
    background-color: #061726;
    color: #c9d1d9;
    transition: border-color 0.3s, background-color 0.3s;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #8b949e;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #1f9ad0;
    background-color: #0e293e;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form textarea::-webkit-scrollbar {
    display: none;
}

.contact-form button {
    padding: 12px;
    background-color: white;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid white;
    font-weight: bolder;
    font-size: 12px;
    align-self: flex-start;
    display: flex;
}

.contact-form button:hover {
    background-color: transparent;
    border: 1px solid white;
}

/* Add this CSS in your existing styles.css or create a new one */
.activity {
    border: 1px solid #0b3148; /* GitHub border-secondary color */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #061726;
    color: #c9d1d9;
    font-size: 14px;
}

.github-activities {
    border-top: 2px solid #30363d; /* GitHub border-secondary color */
    padding-top: 20px;
    margin-top: 20px;
}

.github-activities h2 {
    color: #1f9ad0;
    font-size: 24px;
    margin-bottom: 20px;
}
